#
# 101 keyboard
#
# [esc]       [ f1] [ f2] [ f3] [ f4] [ f5] [ f6] [ f7] [ f8] [ f9] [f10] [f11] [f12]    [prn] [scr] [pau]
#  0x29        0x3a  0x3b  0x3c  0x3d  0x3e  0x3f  0x40  0x41  0x42  0x43  0x44  0x45     0x46  0x57  0x48
#
# [ ~ ] [ 1 ] [ 2 ] [ 3 ] [ 4 ] [ 5 ] [ 6 ] [ 7 ] [ 8 ] [ 9 ] [ 0 ] [ - ] [ = ] [bck]    [ins] [hme] [pup]    [num] [ / ] [ * ] [ - ]
#  0x35  0x1e  0x1f  0x20  0x21  0x22  0x23  0x24  0x25  0x26  0x27  0x2d  0x2e  0x2a     0x49  0x4a  0x4b     0x53  0x54  0x55  0x56
#
# [tab] [ q ] [ w ] [ e ] [ r ] [ t ] [ y ] [ u ] [ i ] [ o ] [ p ] [ [ ] [ ] ] [ \ ]    [del] [end] [pdn]    [ 7 ] [ 8 ] [ 9 ] [ + ]
#  0x2b  0x14  0x1a  0x08  0x15  0x17  0x1c  0x18  0x0c  0x12  0x13  0x2f  0x30  0x31     0x4c  0x4d  0x4e     0x5f  0x60  0x61  0x57
#
# [cap] [ a ] [ s ] [ d ] [ f ] [ g ] [ h ] [ j ] [ k ] [ l ] [ ; ] [ ' ] [  enter  ]                         [ 4 ] [ 5 ] [ 6 ]
#  0x39  0x04  0x16  0x07  0x09  0x0a  0x0b  0x0d  0x0e  0x0f  0x33  0x34     0x28                             0x5c  0x5d  0x5e
#
# [shift]     [ z ] [ x ] [ c ] [ v ] [ b ] [ n ] [ m ] [ , ] [ . ] [ / ]     [shift]          [ up]          [ 1 ] [ 2 ] [ 3 ] [ent]
#   0xe1       0x1d  0x1b  0x06  0x19  0x05  0x11  0x10  0x36  0x37  0x38       0xe5            0x52           0x59  0x5a  0x5b  0x58
#
# [ctr]             [alt]             [  space  ]             [alt]             [ctr]    [lft] [dwn] [rgt]    [ 0 ] [ . ]
#  0xe0              0xe2                 0x2c                 0xe6              0xe4     0x50  0x51  0x4f     0x62  0x63
#

[Key]
# Scan Key
0x04 = 'A'
0x05 = 'B'
0x06 = 'C'
0x07 = 'D'
0x08 = 'E'
0x09 = 'F'
0x0a = 'G'
0x0b = 'H'
0x0c = 'I'
0x0d = 'J'
0x0e = 'K'
0x0f = 'L'
0x10 = 'M'
0x11 = 'N'
0x12 = 'O'
0x13 = 'P'
0x14 = 'Q'
0x15 = 'R'
0x16 = 'S'
0x17 = 'T'
0x18 = 'U'
0x19 = 'V'
0x1a = 'W'
0x1b = 'X'
0x1c = 'Y'
0x1d = 'Z'
0x1e = '1'
0x1f = '2'
0x20 = '3'
0x21 = '4'
0x22 = '5'
0x23 = '6'
0x24 = '7'
0x25 = '8'
0x26 = '9'
0x27 = '0'
0x28 = Enter
0x29 = Escape
0x2a = Backspace
0x2b = Tab
0x2c = Spacebar
0x2d = '-'
0x2e = '='
0x2f = '['
0x30 = ']'
0x31 = '\'
0x33 = ';'
0x34 = "'"
0x35 = Tilde
0x36 = ','
0x37 = '.'
0x38 = '/'
0x39 = CapsLock
0x3a = F1
0x3b = F2
0x3c = F3
0x3d = F4
0x3e = F5
0x3f = F6
0x40 = F7
0x41 = F8
0x42 = F9
0x43 = F10
0x44 = F11
0x45 = F12
0x46 = PrintScreen
0x47 = ScrollLock
0x48 = Pause
0x49 = Insert
0x4a = Home
0x4b = PageUp
0x4c = Delete
0x4d = End
0x4e = PageDown
0x4f = Right
0x50 = Left
0x51 = Down
0x52 = Up
0x53 = NumLock
0x54 = 0x6a # KP /
0x55 = 0x6b # KP *
0x56 = 0x6c # KP -
0x57 = 0x6d # KP +
0x58 = 0x6e # KP Enter
0x59 = 0x61 # KP 1
0x5a = 0x62 # KP 2
0x5b = 0x63 # KP 3
0x5c = 0x64 # KP 4
0x5d = 0x65 # KP 5
0x5e = 0x66 # KP 6
0x5f = 0x67 # KP 7
0x60 = 0x68 # KP 8
0x61 = 0x69 # KP 9
0x62 = 0x60 # KP 0
0x63 = 0x6f # KP .
0x64 = '<'
0xe0 = LeftControl
0xe1 = LeftShift
0xe2 = LeftAlt
0xe4 = RightControl
0xe6 = RightAlt
0xe5 = RightShift

0x7f = 0xa0 # media: Volume mute
0x81 = 0xae # media: Volume down
0x80 = 0xb0 # media: Volume up
0xe3 = 0xdb # Left Gui
0xe7 = 0xdc # Right Gui
0x65 = 0xdd # Menu

[Sym]
# Key    Normal    Shift     Control   CapsLock  Shift
0x01 = [ 0x01,     0x01,     0x01,     0x01,     0x01 ]
0x04 = [ 0x04,     0x04,     0x04,     0x04,     0x04 ]
0x05 = [ 0x05,     0x05,     0x05,     0x05,     0x05 ]
0x06 = [ 0x7f,     0x7f,     0x7f,     0x7f,     0x7f ]
0x08 = [ 0x08,     0x08,     0x7f,     0x08,     0x08 ]
0x09 = [ 0x09,     0x09,     0x09,     0x09,     0x09 ]
0x0a = [ 0x0a,     0x0a,     0x0a,     0x0a,     0x0a ]
0x0b = [ 0x0b,     0x0b,     0x0b,     0x0b,     0x0b ]
0x0c = [ 0x0c,     0x0c,     0x0c,     0x0c,     0x0c ]
0x0d = [ 0x0a,     0x0a,     0x0a,     0x0a,     0x0a ]
0x1c = [ 0x1c,     0x1c,     0x1c,     0x1c,     0x1c ]
0x1e = [ 0x1e,     0x1e,     0x1e,     0x1e,     0x1e ]
0x1d = [ 0x1d,     0x1d,     0x1d,     0x1d,     0x1d ]
0x1f = [ 0x1f,     0x1f,     0x1f,     0x1f,     0x1f ]
0x1b = [ 0x1b,     0x1b,     0x1b,     0x1b,     0x1b ]
0x20 = [ 0x20,     0x20,     0x00,     0x20,     0x20 ]
0x25 = [ '`',      '~',      '',       '`',      '~' ]
0x27 = [ "'",      '"',      '',       "'",      '"' ]
0x2c = [ ',',      '<',      '',       ',',      '<' ]
0x2d = [ '-',      '_',      0x1f,     '-',      '_' ]
0x2e = [ '.',      '>',      '',       '.',      '>' ]
0x2f = [ '/',      '?',      '',       '/',      '?' ]
0x30 = [ '0',      ')',      '',       '0',      ')' ]
0x31 = [ '1',      '!',      '',       '1',      '!' ]
0x32 = [ '2',      '@',      '',       '2',      '@' ]
0x33 = [ '3',      '#',      '',       '3',      '#' ]
0x34 = [ '4',      '$',      '',       '4',      '$' ]
0x35 = [ '5',      '%',      '',       '5',      '%' ]
0x36 = [ '6',      '^',      0x1e,     '6',      '^' ]
0x37 = [ '7',      '&',      '',       '7',      '&' ]
0x38 = [ '8',      '*',      '',       '8',      '*' ]
0x39 = [ '9',      '(',      '',       '9',      '(' ]
0x3b = [ ';',      ':',      '',       ';',      ':' ]
0x3c = [ '\',      '|',      0x1c,     '\',      '|' ]
0x3d = [ '=',      '+',      '',       '=',      '+' ]
0x41 = [ 'a',      'A',      0x01,     'A',      'a' ]
0x42 = [ 'b',      'B',      0x02,     'B',      'b' ]
0x43 = [ 'c',      'C',      0x03,     'C',      'c' ]
0x44 = [ 'd',      'D',      0x04,     'D',      'd' ]
0x45 = [ 'e',      'E',      0x05,     'E',      'e' ]
0x46 = [ 'f',      'F',      0x06,     'F',      'f' ]
0x47 = [ 'g',      'G',      0x07,     'G',      'g' ]
0x48 = [ 'h',      'H',      0x08,     'H',      'h' ]
0x49 = [ 'i',      'I',      0x09,     'I',      'i' ]
0x4a = [ 'j',      'J',      0x0a,     'J',      'j' ]
0x4b = [ 'k',      'K',      0x0b,     'K',      'k' ]
0x4c = [ 'l',      'L',      0x0c,     'L',      'l' ]
0x4d = [ 'm',      'M',      0x0d,     'M',      'm' ]
0x4e = [ 'n',      'N',      0x0e,     'N',      'n' ]
0x4f = [ 'o',      'O',      0x0f,     'O',      'o' ]
0x50 = [ 'p',      'P',      0x10,     'P',      'p' ]
0x51 = [ 'q',      'Q',      0x11,     'Q',      'q' ]
0x52 = [ 'r',      'R',      0x12,     'R',      'r' ]
0x53 = [ 's',      'S',      0x13,     'S',      's' ]
0x54 = [ 't',      'T',      0x14,     'T',      't' ]
0x55 = [ 'u',      'U',      0x15,     'U',      'u' ]
0x56 = [ 'v',      'V',      0x16,     'V',      'v' ]
0x57 = [ 'w',      'W',      0x17,     'W',      'w' ]
0x58 = [ 'x',      'X',      0x18,     'X',      'x' ]
0x59 = [ 'y',      'Y',      0x19,     'Y',      'y' ]
0x5a = [ 'z',      'Z',      0x1a,     'Z',      'z' ]
0x5b = [ '[',      '{',      0x1b,     '[',      '{' ]
0x5c = [ '\',      '|',      0x1c,     '\',      '|' ]
0x5d = [ ']',      '}',      0x1d,     ']',      '}' ]
0x60 = [ 0x05,     '0',      0x05,     0x05,     '0' ]
0x61 = [ 0x04,     '1',      0x04,     0x04,     '1' ]
0x62 = [ 0x1f,     '2',      0x1f,     0x1f,     '2' ]
0x63 = [ 0x0c,     '3',      0x0c,     0x0c,     '3' ]
0x64 = [ 0x1c,     '4',      0x1c,     0x1c,     '4' ]
0x65 = [ '',       '5',      '',       '',       '5' ]
0x66 = [ 0x1d,     '6',      0x1d,     0x1d,     '6' ]
0x67 = [ 0x01,     '7',      0x01,     0x01,     '7' ]
0x68 = [ 0x1e,     '8',      0x1e,     0x1e,     '8' ]
0x69 = [ 0x0b,     '9',      0x0b,     0x0b,     '9' ]
0x6a = [ '/',      '/',      '/',      '/',      '/' ]
0x6b = [ '*',      '*',      '*',      '*',      '*' ]
0x6c = [ '-',      '-',      '-',      '-',      '-' ]
0x6d = [ '+',      '+',      '+',      '+',      '+' ]
0x6e = [ 0x0a,     0x0a,     0x0a,     0x0a,     0x0a ]
0x6f = [ 0x7f,     '.',      0x7f,     0x7f,     '.' ]
